[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
pandas = "*"
jupyter = "*"
requests = "*"
ipykernel = "*"
pysocks = "*"
requests-tor = "*"
keybert = "*"
bibtexparser = "*"

[dev-packages]

[requires]
python_version = "3.8"
